<% cache(query) do %>
  <div class='row query' id='item_<%= query.id %>'>
    <div class='columns column_date'>
      <p class='date'> <%= query.created_at.strftime('%Y/%m/%d') %> </p>
      <p class='time'> <%= query.created_at.strftime('%H:%M') %> </p>
    </div>
    <div class='columns column_left'>
      <p class='user_icon'><%= image_tag 'queristory.png' %></p>
    </div>
    <div class='columns column_right'>
      <h3 class='title'><span class='truncate'>
        <%= link_to query.q.truncate(80), url_for_search(query, nil) %>
      </span></h3>
      <div class='options'>
        <% ['tbm', 'as_qdr', 'lr', 'tbs', 'source', 'queristory_from'].each do |option| %>
          <% if query[option].present? %>
            <%= link_to url_for_search(query, option), class: option do %>
              <span class='label'>
                <%= "#{option}: #{query[option]}".truncate(25) %>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class='content'>
        <% query.pages.each do |page| %>
        <span class='page_info sec_after'>
          <%= fa_icon 'clock-o' %>
          <%= "#{(page.created_at - query.created_at).round(1)} sec" %>
        </span>
        <span class='page_info rank'>
          <%= fa_icon 'trophy' %>
          <%= "#{(page.start.to_i + page.rank)}" %>
        </span>
        <%= link_to page.title, page.url %> <br>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
