<div class='contents'>
  <a href='/'><h1>Queristory</h1></a>
  <% @queries.each do |query| %>
    <div class='row query' id='item_<%= query.id %>'>
      <div class='columns column_date'>
        <p class='date'> <%= query.created_at.strftime('%Y/%m/%d') %> </p>
        <p class='time'> <%= query.created_at.strftime('%H:%M') %> </p>
      </div>
      <div class='columns column_left'>
        <p class='user_icon'><%= image_tag 'queristory.png' %></p>
      </div>
      <div class='columns column_right'>
        <h3 class='title'><span class='truncate'><%= link_to query.q.truncate(80), "http://google.com/search?q=#{query.q}" , title: query.q %></span></h3>
        <div class='options'>
          <% ['tbm', 'as_qdr', 'lr', 'tbs', 'source'].each do |option| %>
            <% if query[option].present? %>
              <span class='label <%= option %>'>
                <%= "#{option}: #{query[option]}" %>
              </span>
            <% end %>
          <% end %>
          <div class='content'>
            <% query.pages.each do |page| %>
            <span class='page_info sec_after'>
              <%= "#{(page.created_at - query.created_at).round(1)} sec" %>
            </span>
            <span class='page_info rank'>
              <%= "rank: #{(page.start.to_i + page.rank)}" %>
            </span>
              <%= link_to page.title, page.url %> <br>
            <% end %>
            <div class='content'>
              <% query.pages.each do |page| %>
                <% cache("page_#{page.id}") do %>
                  <span class='page_info sec_after'>
                    <%= "#{(page.created_at - query.created_at).round(1)} sec" %>
                  </span>
                  <span class='page_info rank'>
                    <%= "rank: #{(page.start.to_i + page.rank)}" %>
                  </span>
                  <%= link_to page.title, page.url %><br>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<%= paginate @queries %>
</div>
